.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
}

.followers-column {
  background-color: red;
  width: 500px;
  height: 800px;
}

.feed {
  background-color: white;
  width: 500px;
}

.suggested-box {
  background-color: blue;
  width: 500px;
  height: 400px;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
